<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <title>Hola, Node</title>
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>Lista de compras</p>
    <ul>
      <li>Huevo</li>
      <li>Pan</li>
      <li>Leche</li>
    </ul>
    <div class="images"></div>
    <script>
      const images = document.querySelector('.images');

      const response = fetch('http://localhost:3000/api')
        .then(response => response.json())
        .then(data => {
          images.innerHTML = `
            <hr />
            <h3>${data.title}</h3>
            <p>${data.description}</p>
            <img src="${data.imgUrl}" height="100" />
          `;
        });
    </script>
  </body>
</html>
